.principal {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

@media(max-width: 5000px) {
    .principal {
        min-height: 100vh;
        width: 100vw;
        position: absolute;
        display: flex;
        justify-content: center;
    }

    .information {
        background-color: aquamarine;
        height: 90vh;
        width: 90%;
        position: absolute;
        top: 7.5vh;
        display: flex;
        justify-content: center;

    }

    .imgs {
        height: 25vh;
        width: 85vw;
        margin-top: 3vh;
    }

    .imgs img {
        min-height: 23vh;
        width: 83vw;
        border-radius: 20px;
    }
}