.principal {
    top: 100vh;
    height: 80vh;
    width: 100vw;
    position: absolute;
    background-color: #e9ecef;
}

@media(max-width: 5000px) {
    .principal {
        top: 100vh;
        height: 80vh;
        width: 100vw;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e9ecef;
    }


    .container {
        background-color: #e9ecef;
        height: 90%;
        width: 90%;
        display: grid;
        grid-template-rows: 70% 30%;
    }

    .info {
        height: 100%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .info h1 {
        font-size: 3rem;
        margin: 2rem 0;
    }

    .info p {
        font-size: 1rem;
        line-height: 27px;
    }

    .photo {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .photo img {
        height: 110px;
        width: 110px;
        object-fit: contain;
        border-radius: 80px;
        margin-top: 1.5rem;
    }
}