.principal {
    top: 100vh;
    height: 80vh;
    width: 100vw;
    position: absolute;
    background-color: #e9ecef;
}

@media(max-width: 5000px) {
    .principal {
        top: 100vh;
        height: 80vh;
        width: 100vw;
        position: absolute;
        background-color: #e9ecef;
    }

    .information {
        background-color: #e9ecef;
        height: 90%;
        width: 90%;
        position: absolute;
        top: 7.5vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .infoData {
        position: absolute;
    }

    .imgs {
        height: 25vh;
        width: 85vw;
        margin-top: 3vh;
    }

    .imgs img {
        min-height: 23vh;
        width: 83vw;
        border-radius: 20px;
    }


}