@media screen and(max-width:5000px) {
    .footer {
        position: relative;
        bottom: 0%;
        height: 7vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 50% 50%;
        background-color: black;
    }

    .redes,
    .dev {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        color: white;
    }

    .circle {
        height: 5vh;
        width: 3vw;
        border-radius: 100%;
    }

}