.footer {
    position: absolute;
    top: 505vh;
    height: 70vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    background-color: #e9ecef;
}


@media (max-width:5000px) {
    .footer {
        position: absolute;
        background-color: #e9ecef;
        top: 505vh;
        height: 70vh;
        width: 100vw;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .container {
        height: 70vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        background-color: #e9ecef;
        text-align: center;
        justify-content: space-evenly;
    }

    .sect1 {
        font-size: 2rem;
        font-weight: bold;
    }

    .sect2 {
        font-size: 1.3rem;
        margin-right: 8px;
    }

    .sect2 a{
        color: black;
    }

    .sect3 {
        font-size: 1.3rem;
    }
}