@media (max-width:1000px) {

    .navbar1 {
        display: none;
        z-index: 4;
        position: fixed;
        top: 0;
        height: 7vh;
        width: 100vw;
        /* display: grid; */
        grid-template-columns: 70% 30%;
        font-weight: bold;
        transition: 1s;
        color: black;
        background-color: transparent;
    }

    .navbar2 {
        z-index: 4;
        position: fixed;
        top: 0;
        height: 7vh;
        width: 100vw;
        display: none; /*grid*/
        grid-template-columns: 70% 30%;
        font-weight: bold;
        transition: 2s;
        color: black;
        border-bottom: 1px solid #c0c0c0c9;
        background-color: #e9ecefc9;
        animation: identifier 1s linear;
    }

    @keyframes identifier {
        0% {
            opacity: 0;
            transform: translateY(1rem)
        }
        100% {
            opacity: 1;
            transform: translateY(0)
        }
    }

    .linkSection,
    .tempSection {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .list li {
        list-style: none;
        color: black;
    }

    .link {
        font-weight: lighter;
        text-decoration: none;
        color: black;
    }

    .link:hover {
        text-decoration: underline;
        color: black;
    }

    .wordsTemp,
    .wordsLocation {
        color: black;
        font-weight: lighter;
    }

}

@media (min-width:1000px) {

    .navbar1 {
        display: none;
        z-index: 4;
        position: fixed;
        top: 0;
        height: 7vh;
        width: 100vw;
        /* display: grid; */
        grid-template-columns: 50% 50%;
        font-weight: bold;
        transition: 1s;
        color: black;
        background-color: transparent;
    }

    .navbar2 {
        z-index: 4;
        position: fixed;
        top: 0;
        height: 7vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 50% 50%;
        font-weight: bold;
        transition: 2s;
        color: black;
        background-color: #e9ecefa1;
        animation: identifier 2s linear;
    }

    @keyframes identifier {
        0% {
            opacity: 0;
            transform: translateY(0rem)
        }
        50% {
            opacity: 0.5;
            transform: translateY(0)
        }
    
        100% {
            opacity: 1;
            transform: translateY(0)
        }
    }

    .linkSection,
    .tempSection {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
    }

    .list li {
        list-style: none;
        color: black;
    }

    .link {
        margin: 0 20px ;
        font-size: 1.5rem;
        font-weight: lighter;
        text-decoration: none;
        color: black;
    }

    .link:hover {
        text-decoration: underline;
        color: black;
    }

    .wordsTemp,
    .wordsLocation {
        color: black;
        font-size: 1rem;
        font-weight: lighter;
    }

}