.container {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}

@media (max-width:5000px) {
    .container {
        min-height: 100vh;
        width: 100vw;
        position: relative;
        overflow-x: hidden;
    }
    
    .AboutDiv {
        position: absolute;
        top: 100vh;
        height: 40vh;
        width: 100vw;
        background-color: red;
    }
}