.a_wp {
    text-decoration: none;
}

.icon_wp {
    position: fixed;
    bottom: 60px;
    right: 10px;
    height: 65px;
    width: 65px;
    z-index: 5;
    /* box-shadow: 0px 0px 5px 5px grey; */
}

.none {
    display: none;
}